externals/wsgram-api/ws-gram/resources/wsdl/schema/rendezvous/rendezvous_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<wsdl:definitions name="Rendezvous" targetNamespace="http://www.globus.org/namespaces/2004/09/rendezvous" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/09/rendezvous" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.globus.org/namespaces/2004/09/rendezvous" xml:lang="en" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/09/rendezvous" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../ws/addressing/WS-Addressing.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:include schemaLocation="../rendezvous/rendezvous_types.xsd"/>

            <xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>

            <!-- =========================================================== -->

            <xsd:element name="rendezvousResourceProperties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:RendezvousCompleted"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:RegistrantData"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:Capacity"/>
                    
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- =========================================================== -->

            <xsd:complexType name="StateChangeNotificationMessageType">
                <xsd:sequence>
                    <xsd:element ref="tns:RendezvousCompleted"/>
                    <xsd:element ref="tns:RegistrantData"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="stateChangeNotificationMessage" type="tns:StateChangeNotificationMessageType"/>

            <xsd:complexType name="StateChangeNotificationMessageWrapperType">
                <xsd:sequence>
                    <xsd:element ref="tns:stateChangeNotificationMessage"/>
                </xsd:sequence>
            </xsd:complexType>

            <!--=========================================================== -->

            <xsd:element name="registerInput">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>
                            The rank must be -1 or a non negative number.

                            If the desired rank is -1, the rank will be
                            automatically assigned (in order of registration).
                            If a registration has already been made with the
                            same rank being assigned, a fault will be thrown.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element name="data" type="xsd:base64Binary"/>
                        <xsd:element ref="tns:rank"/>
                    </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <xsd:element name="registerResponse">
               <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>
                            If the rendezvous resource is full because it has
                            reached capacity, no registration will occur and
                            a fault message will be returned.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element ref="tns:rank"/>
                    </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="CapacityReachedFaultType">
                <xsd:annotation>
                    <xsd:documentation>
                        This fault indicates a registration failure due to the
                        fact that the rendezvous has reached capacity - no more
                        registration is possible.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="wsbf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="capacityReachedFault" type="tns:CapacityReachedFaultType"/>

            <xsd:complexType name="RankTakenFaultType">
                <xsd:annotation>
                    <xsd:documentation>
                        This fault indicates a registration failure due to the
                        fact that the desired rank for the registrant is
                        already assigned to an existing registrant.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="wsbf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="rankTakenFault" type="tns:RankTakenFaultType"/>

        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterOutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse"/>
  </wsdl:message>
  <wsdl:message name="capacityReachedFaultMessage">
    <wsdl:part name="fault" element="tns:capacityReachedFault"/>
  </wsdl:message>
  <wsdl:message name="RegisterInputMessage">
    <wsdl:part name="parameters" element="tns:registerInput"/>
  </wsdl:message>
  <wsdl:message name="rankTakenFaultMessage">
    <wsdl:part name="fault" element="tns:rankTakenFault"/>
  </wsdl:message>
  <wsdl:portType name="RendezvousPortType" wsrp:ResourceProperties="tns:rendezvousResourceProperties">
    <wsdl:operation name="register">
      <wsdl:input message="tns:RegisterInputMessage"/>
      <wsdl:output message="tns:RegisterOutputMessage"/>
      <wsdl:fault name="rankTakenFault" message="tns:rankTakenFaultMessage"/>
      <wsdl:fault name="capacityReachedFault" message="tns:capacityReachedFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
