externals/wsgram-api/ws-gram/resources/wsdl/schema/rendezvous/rendezvous_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<xsd:schema targetNamespace="http://www.globus.org/namespaces/2004/09/rendezvous"
            xmlns:tns="http://www.globus.org/namespaces/2004/09/rendezvous"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

            <xsd:element name="internalRegistrantData" type="xsd:base64Binary"/>
            <xsd:element name="tally" type="xsd:int"/>

            <!-- Internal data (use generated code for XML persistence). -->
            <!-- The rest of the data is part of the resource properties -->
            <xsd:complexType name="RendezvousDataType">
                <xsd:sequence>
                    <xsd:element ref="tns:tally"/>
                    <xsd:element ref="tns:internalRegistrantData"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="internalRendezvousData"
                         type="tns:RendezvousDataType"/>

</xsd:schema>

