externals/wsgram-api/ws-gram/resources/wsdl/schema/rendezvous/rendezvous_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<xsd:schema targetNamespace="http://www.globus.org/namespaces/2004/09/rendezvous"
            xmlns:tns="http://www.globus.org/namespaces/2004/09/rendezvous"
            xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

            <xsd:import
                namespace=
                "http://schemas.xmlsoap.org/ws/2004/03/addressing"
                schemaLocation="../ws/addressing/WS-Addressing.xsd"/>

            <xsd:element name="rank" type="xsd:int"/>

            <!-- Resource properties -->

            <xsd:element name="RendezvousCompleted" type="xsd:boolean"/>
            <xsd:element name="RegistrantData" type="xsd:base64Binary"/>
            <xsd:element name="Capacity" type="xsd:int"/>
            <!-- the capacity can be 0, in which case no registration
                 is possible -->

</xsd:schema>

