externals/unicore6-api/wsrf-types/resources/wsdl/wsrf-types/wsrflite.xsd

<xsd:schema 
    targetNamespace="http://www.fz-juelich.de/unicore/wsrflite"
    xmlns:wa="http://www.fz-juelich.de/unicore/wsrflite"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xsd:import
     namespace="http://www.w3.org/2005/08/addressing"  />


 <!-- 
  Additional types for use with WSRFlite
 -->

 <!-- admin messages -->
 
 <xsd:element name="ListServicesRequest">    
   <xsd:complexType/> 
 </xsd:element>
 
 <xsd:element name="ListServicesResponse">
   <xsd:complexType>
     <xsd:sequence>
       <xsd:element name="Service" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
     </xsd:sequence>
   </xsd:complexType>
 </xsd:element>

 <xsd:element name="ListInstancesRequest">    
   <xsd:complexType>
     <xsd:sequence>
       <xsd:element name="ServiceName" type="xsd:string"/>
     </xsd:sequence>
   </xsd:complexType>

 </xsd:element>
 
 <xsd:element name="ListInstancesResponse">
   <xsd:complexType>
     <xsd:sequence>
       <xsd:element name="Instance" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
     </xsd:sequence>
   </xsd:complexType>
 </xsd:element>


 <!-- messages used in testing ... -->

<!-- 
  this will create a new "test" WS-Resource
  -->
  <xsd:element name="AddTestResource">
    <xsd:complexType/>
  </xsd:element>
  
  <!-- 
     the response 
     contains an EPR to new test resource
  -->
  <xsd:element name="AddTestResourceResponse">
   <xsd:complexType>
     <xsd:sequence>
       <xsd:element ref="wsa:EndpointReference" />
     </xsd:sequence>
   </xsd:complexType>
  </xsd:element>


</xsd:schema>
