externals/unicore6-api/uas-types/resources/wsdl/uas-types/StorageManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    targetNamespace="http://unigrids.org/2006/04/services/sms"
    xmlns:sms="http://unigrids.org/2006/04/services/sms"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl"
    xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
    xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
    xmlns:unigrids="http://unigrids.org/2006/04/types"
    xmlns:ogsa-bp="http://schemas.ggf.org/ogsa/2006/05/wsrf-bp"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
  
  <!--  ========== Import BaseFaults Types ============ --> 
  <xsd:import namespace="http://docs.oasis-open.org/wsrf/bf-2" />
  
  <!--  ========== Import WS-Addressing Types ============ -->
  <xsd:import namespace="http://www.w3.org/2005/08/addressing"/>
  
  <!--  ========== Import JSDL types============ --> 
  <xsd:import namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl"/>
  
  <!--  ========== Import Base Profile Types ============ -->
  <xsd:import namespace="http://schemas.ggf.org/ogsa/2006/05/wsrf-bp"/>

  
  <!--  ========== Import Lifetime ============ --> 
  <xsd:import 
    namespace="http://docs.oasis-open.org/wsrf/rl-2"/>

  <!--  ========== Import Unigrids Types ============ -->
  <xsd:import
    namespace="http://unigrids.org/2006/04/types"
    schemaLocation="unigridsTypes.xsd"/>  	
      
  <!--  ========== Storage Resource Properties  ============ --> 

<!-- 
this element can be replaced by jsdl: MountPoint 
  <xsd:element name="Path" type="xsd:string"/>
-->

  <xsd:element name="StorageProperties">
    <xsd:complexType>
	  <xsd:sequence>
	    <xsd:element ref="jsdl:FileSystem"/>
	    <xsd:element ref="unigrids:Protocol" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="ogsa-bp:ResourcePropertyNames"/>
	    <xsd:element ref="ogsa-bp:FinalWSResourceInterface"/>
	    <xsd:element ref="ogsa-bp:WSResourceInterfaces"/>
	    <xsd:element ref="ogsa-bp:ResourceEndpointReference"/>
	    <xsd:element ref="wsrf-rl:CurrentTime"/>
	    <xsd:element ref="wsrf-rl:TerminationTime" minOccurs="0"/>
	    <xsd:any minOccurs="0" maxOccurs="unbounded"/>
	  </xsd:sequence>
	</xsd:complexType>
  </xsd:element>

  <!--  ========== ListDirectory Types  ============ --> 
  <xsd:element name="ListDirectory">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ListDirectoryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="unigrids:GridFile" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
 
  <xsd:complexType name="DirectoryNotListedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType" /> 
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DirectoryNotListedFault" 
               type="sms:DirectoryNotListedFaultType" /> 

  <!--  ========== ListProperties Types  ============ --> 

  <xsd:element name="ListProperties"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ListPropertiesResponse"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="unigrids:GridFile"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="PropertiesNotListedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PropertiesNotListedFault"
               type="sms:PropertiesNotListedFaultType"/>  
                               
  <!--  ========== Copy Types  ============ --> 
  <xsd:element name="Copy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="source" type="xsd:string"/>
        <xsd:element name="destination" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    
  <xsd:element name="CopyResponse">
    <xsd:complexType/>
  </xsd:element>
  
  <xsd:complexType name="FileNotCopiedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType" /> 
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FileNotCopiedFault" 
               type="sms:FileNotCopiedFaultType" /> 
    
  <!--  ========== CreateDirectory Types  ============ --> 
  <xsd:element name="CreateDirectory">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CreateDirectoryResponse">
    <xsd:complexType/>
  </xsd:element>

  <xsd:complexType name="DirectoryNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DirectoryNotCreatedFault"
               type="sms:DirectoryNotCreatedFaultType"/>
                   
  <!--  ========== Delete Types  ============ --> 
  <xsd:element name="Delete">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
  <xsd:element name="DeleteResponse">
    <xsd:complexType/>
  </xsd:element>

  <xsd:complexType name="FileNotDeletedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FileNotDeletedFault" 
               type="sms:FileNotDeletedFaultType"/>

  <!--  ========== Rename Types  ============ --> 
  <xsd:element name="Rename">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="source" type="xsd:string"/>
        <xsd:element name="destination" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RenameResponse">
    <xsd:complexType/>
  </xsd:element>
      
  <xsd:complexType name="FileNotRenamedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType" /> 
    </xsd:complexContent> 
  </xsd:complexType>
  <xsd:element name="FileNotRenamedFault" 
               type="sms:FileNotRenamedFaultType" /> 

  <!--  ========== ChangePermissions Types  ============ --> 
  <xsd:element name="ChangePermissions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="path" type="xsd:string"/>
        <xsd:element name="permissions" type="unigrids:PermissionsType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ChangePermissionsResponse">
    <xsd:complexType/>
  </xsd:element>

  <xsd:complexType name="PermissionsNotChangedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PermissionsNotChangedFault" 
               type="sms:PermissionsNotChangedFaultType"/>
         
  <!--  ========== Import Types  ============ --> 
  
  <xsd:element name="ImportFile">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="destination" type="xsd:string"/>
        <xsd:element name="overwrite" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="isPipe" type="xsd:boolean" minOccurs="0"/>
        <xsd:element ref="unigrids:Protocol"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ImportFileResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="importEPR" type="wsa:EndpointReferenceType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      
  <xsd:complexType name="ImportFileResourceNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ImportFileResourceNotCreatedFault" 
               type="sms:ImportFileResourceNotCreatedFaultType"/>

  <!--  ========== ExportFile Types  ============ -->

  <xsd:element name="ExportFile">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="source" type="xsd:string"/>
        <xsd:element name="isPipe" type="xsd:boolean" minOccurs="0"/>
        <xsd:element ref="unigrids:Protocol"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ExportFileResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exportEPR" type="wsa:EndpointReferenceType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="ExportFileResourceNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ExportFileResourceNotCreatedFault"
               type="sms:ExportFileResourceNotCreatedFaultType"/>


  <!--  ========== ReceiveFile Types  ============ -->

  <xsd:element name="ReceiveFile">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="source" type="xsd:anyURI"/>
        <xsd:element name="destination" type="xsd:string"/>
        <xsd:element name="reliableMode" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReceiveFileResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="receiveFileEPR" type="wsa:EndpointReferenceType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="ReceiveFileResourceNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ReceiveFileResourceNotCreatedFault"
               type="sms:ReceiveFileResourceNotCreatedFaultType"/>

  <!--  ========== SendFile Types  ============ -->

  <xsd:element name="SendFile">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="source" type="xsd:string"/>
        <xsd:element name="destination" type="xsd:anyURI"/>
        <xsd:element name="reliableMode" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SendFileResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sendFileEPR" type="wsa:EndpointReferenceType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="SendFileResourceNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SendFileResourceNotCreatedFault"
               type="sms:SendFileResourceNotCreatedFaultType"/>



</xsd:schema>
