externals/unicore6-api/uas-types/resources/wsdl/uas-types/TargetSystemFactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- modified for FZJ use -->
<xsd:schema
    targetNamespace="http://unigrids.org/2006/04/services/tsf"
    xmlns:tsf="http://unigrids.org/2006/04/services/tsf"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
    xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
    xmlns:ogsa-bp="http://schemas.ggf.org/ogsa/2006/05/wsrf-bp"
    xmlns:tss="http://unigrids.org/2006/04/services/tss"
    xmlns:unigrids="http://unigrids.org/2006/04/types"
    xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
   	
  <xsd:import 
      namespace="http://docs.oasis-open.org/wsrf/bf-2"/>
  
  
  <xsd:import
    namespace="http://www.w3.org/2005/08/addressing"/>
  
  <xsd:import 
      namespace="http://docs.oasis-open.org/wsrf/rl-2"/>
  
  <!--  ========== Import JSDL ============ -->
  <xsd:import
      namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl-posix" />
      

  <!--  ========== Import OGSA-WSRF Basic Profile Types ============ -->
  <xsd:import
      namespace="http://schemas.ggf.org/ogsa/2006/01/wsrf-bp"/>

  <!--  ========== Import UniGridS types============ -->
  <xsd:import
      namespace="http://unigrids.org/2006/04/types" />

  <!--  ========== Import TSS types============ -->
  <xsd:import
      namespace="http://unigrids.org/2006/04/services/tss"/>
      
  <!--  ========== TSF Properties============ -->
    
  <xsd:element name="TargetSystemFactoryProperties">
   <xsd:complexType>
	<xsd:sequence>
        <xsd:element ref="tsf:TargetSystemReference" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="tss:ApplicationResource" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="unigrids:UpSince"/>
		<xsd:element ref="jsdl:Description" minOccurs="0"/>
		<xsd:element ref="jsdl:IndividualPhysicalMemory" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="jsdl:IndividualCPUTime" minOccurs="0"/>
        <xsd:element ref="jsdl:IndividualCPUCount" minOccurs="0"/>
		<xsd:element ref="jsdl:TotalResourceCount" minOccurs="0"/>
		<xsd:element ref="jsdl:OperatingSystem" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:Processor" minOccurs="0"/>
		<xsd:element ref="unigrids:TextInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:ContextInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:NumericInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:SiteResource" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="tss:SupportsReservation" />
		<xsd:element ref="ogsa-bp:ResourcePropertyNames"/>
		<xsd:element ref="ogsa-bp:FinalWSResourceInterface"/>
		<xsd:element ref="ogsa-bp:WSResourceInterfaces"/>
		<xsd:element ref="ogsa-bp:ResourceEndpointReference"/>
		<xsd:element ref="wsrf-rl:CurrentTime"/>
		<xsd:element ref="wsrf-rl:TerminationTime" minOccurs="0"/>
		<xsd:any minOccurs="0" maxOccurs="unbounded"/>
	 </xsd:sequence>
	</xsd:complexType>
  </xsd:element>
 
  <xsd:element name="TargetSystemReference" type="wsa:EndpointReferenceType"/>

  <!--  ========== Message Types for CreateTSR  ============ -->
  <xsd:complexType name="TargetSystemDescriptionType">
  	<xsd:sequence>
		<xsd:element ref="jsdl:Description" minOccurs="1"/>
		<xsd:element ref="jsdl:IndividualPhysicalMemory" minOccurs="0"/>
		<xsd:element ref="jsdl:OperatingSystem" minOccurs="0"/>
		<xsd:element ref="tss:ApplicationResource" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:Processor" minOccurs="0"/>
		<xsd:element ref="unigrids:TextInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:ContextInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element ref="unigrids:NumericInfo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:any minOccurs="0" maxOccurs="unbounded"/>
  	</xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TargetSystemDescription" type="tsf:TargetSystemDescriptionType"/>
  
  <xsd:element name="CreateTSR">
	<xsd:complexType>
	  <xsd:sequence>
	  	<xsd:element ref="tsf:TargetSystemDescription" minOccurs="1"/>
	  	<xsd:element ref="wsrf-rl:TerminationTime" minOccurs="0" maxOccurs="1"/>
	  </xsd:sequence>
	</xsd:complexType>
  </xsd:element>

  <xsd:element name="CreateTSRResponse">
    <xsd:complexType>
	  <xsd:sequence>
	    <xsd:element name="tsrReference" type="wsa:EndpointReferenceType"/>
	  </xsd:sequence>
	</xsd:complexType>
  </xsd:element>

  <xsd:complexType name="TSRNotCreatedFaultType">
    <xsd:complexContent>
      <xsd:extension base="wsrf-bf:BaseFaultType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TSRNotCreatedFault" 
       type="tsf:TSRNotCreatedFaultType"/>
</xsd:schema>
