externals/wsgram-api/ws-delegation/resources/wsdl/schema/delegationService/test/delegation_test_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="DelegationTest"
    targetNamespace="http://www.globus.org/08/2004/delegationService/test"
    xmlns:tns="http://www.globus.org/08/2004/delegationService/test"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
    xmlns:wsrp=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <import namespace=
        "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../../wsrf/properties/WS-ResourceProperties.wsdl" />

    <types>
        <xsd:schema targetNamespace="http://www.globus.org/08/2004/delegationService/test"
            xmlns:tns="http://www.globus.org/08/2004/delegationService/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">>

            <xsd:import 
                namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing"
                schemaLocation="../../ws/addressing/WS-Addressing.xsd"/>

            <xsd:element name="TestRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:certificate"        
                            minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>      
            </xsd:element>  

            <xsd:complexType name="CertificateType">
                <xsd:sequence>
                    <xsd:any namespace="##any"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="certificate" type="tns:CertificateType"/>
            <xsd:element name="createRequest" ref="wsa:EndpointReference"/>
            <xsd:element name="createResponse" ref="wsa:EndpointReference"/>
            <xsd:complexType name="voidType"/>
            <xsd:element name="callbackCntRequest" type="tns:voidType"/>
            <xsd:element name="callbackCntResponse" type="xsd:int"/>
        </xsd:schema>
    </types>

    <message name="createInputMessage">
        <part name="parameters" element="tns:createRequest"/>
    </message>
    <message name="createOutputMessage">
        <part name="parameters" element="tns:createResponse"/>
    </message>

    <message name="CallbackCount">
        <part name="parameters" element="tns:callbackCntRequest"/>
    </message>
    <message name="CallbackCountResponse">
        <part name="parameters" element="tns:callbackCntResponse"/>
    </message>

    <portType name="DelegationTestPortType" wsrp:ResourceProperties="tns:TestRP">
        <operation name="create">
            <input message="tns:createInputMessage"/>
            <output message="tns:createOutputMessage"/>
        </operation>
        <operation name="getCallbackCount">
            <input name="getCallbackCountRequest" message="tns:CallbackCount"/>
            <output name="getCallbackCountResponse" 
                message="tns:CallbackCountResponse"/>
        </operation>
    </portType>
</definitions>