externals/wsgram-api/ws-gram/resources/wsdl/schema/transfer/reliable/reliable_transfer_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<wsdl:definitions name="ReliableFileTransfer" targetNamespace="http://www.globus.org/namespaces/2004/10/rft" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/10/rft" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.globus.org/namespaces/2004/10/rft" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:rpns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/10/rft" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../../wsrf/lifetime/WS-ResourceLifetime.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../ws/addressing/WS-Addressing.xsd"/>

            <xsd:include schemaLocation="reliable_transfer_types.xsd"/>

            <xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../../wsrf/faults/WS-BaseFaults.xsd"/>

            <!-- Resouce Properties --> 
            <xsd:element name="TotalBytes" type="tns:TotalBytesTransferredResource"/>
            <xsd:element name="TotalTime" type="tns:TotalTimeTakenResource"/>
            <xsd:element name="OverallStatusProperty" type="tns:OverallStatus"/>
            <xsd:element name="RequestStatusProperty" type="tns:RequestStatusType"/>

            <xsd:element name="reliableTransferProperties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:TotalBytes"/>
                        <xsd:element ref="tns:TotalTime"/>
                        <xsd:element ref="tns:RequestStatusProperty"/>
                        <xsd:element ref="tns:OverallStatusProperty"/>
                    
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:TerminationTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:CurrentTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="start">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="startResponse" type="tns:StartOutputType"/>
            <xsd:complexType name="StartOutputType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="tns:fault"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="repeatedlyStartedFault" type="tns:RepeatedlyStartedFaultType"/>
            <xsd:element name="rftDatabaseFault" type="tns:RFTDatabaseFaultType"/>
            <xsd:element name="delegationEPRMissingFault" type="tns:DelegationEPRMissingFaultType"/>

            <xsd:element name="getStatus">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="sourceUrl" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getStatusResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="transferStatus" type="tns:TransferStatusType"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getStatusSet">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="from" type="xsd:int"/>
            			<xsd:element name="offset" type="xsd:int"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getStatusSetResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element maxOccurs="unbounded" minOccurs="0" name="transferStatusSet" type="tns:TransferStatusType"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            						
   		<xsd:element name="cancel">
   			<xsd:complexType>
   				<xsd:sequence>
   					<xsd:element name="fromId" type="xsd:int"/>
   					<xsd:element name="toId" type="xsd:int"/>
   				</xsd:sequence>
   			</xsd:complexType>
   		</xsd:element>
   		
   		<xsd:element name="cancelResponse">
   			<xsd:complexType/>
   		</xsd:element>
   		         						
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DelegationEPRMissingFaultMessage">
    <wsdl:part name="fault" element="tns:delegationEPRMissingFault"/>
  </wsdl:message>
  <wsdl:message name="RepeatedlyStartedFaultMessage">
    <wsdl:part name="fault" element="tns:repeatedlyStartedFault"/>
  </wsdl:message>
  <wsdl:message name="RFTDatabaseFaultMessage">
    <wsdl:part name="parameters" element="tns:rftDatabaseFault"/>
  </wsdl:message>
  <wsdl:message name="StartOutputMessage">
    <wsdl:part name="parameters" element="tns:startResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCancelInputMessage">
    <wsdl:part name="parameters" element="tns:cancel"/>
  </wsdl:message>
  <wsdl:message name="GetStatusSetOutputMessage">
    <wsdl:part name="parameters" element="tns:getStatusSetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatusInputMessage">
    <wsdl:part name="parameters" element="tns:getStatus"/>
  </wsdl:message>
  <wsdl:message name="StartInputMessage">
    <wsdl:part name="parameters" element="tns:start"/>
  </wsdl:message>
  <wsdl:message name="GetCancelOutputMessage">
    <wsdl:part name="parameters" element="tns:cancelResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatusSetInputMessage">
    <wsdl:part name="parameters" element="tns:getStatusSet"/>
  </wsdl:message>
  <wsdl:message name="GetStatusOutputMessage">
    <wsdl:part name="parameters" element="tns:getStatusResponse"/>
  </wsdl:message>
  <wsdl:portType name="ReliableFileTransferPortType" wsrp:ResourceProperties="tns:reliableTransferProperties">
    <wsdl:operation name="start">
      <wsdl:input message="tns:StartInputMessage"/>
      <wsdl:output message="tns:StartOutputMessage"/>
      <wsdl:fault name="repeatedlyStartedFault" message="tns:RepeatedlyStartedFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:GetStatusInputMessage"/>
      <wsdl:output message="tns:GetStatusOutputMessage"/>
      <wsdl:fault name="rftDatabaseFault" message="tns:RFTDatabaseFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getStatusSet">
      <wsdl:input message="tns:GetStatusSetInputMessage"/>
      <wsdl:output message="tns:GetStatusSetOutputMessage"/>
      <wsdl:fault name="rftDatabaseFault" message="tns:RFTDatabaseFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:GetCancelInputMessage"/>
      <wsdl:output message="tns:GetCancelOutputMessage"/>
      <wsdl:fault name="rftDatabaseFault" message="tns:RFTDatabaseFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime"/>
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse"/>
      <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
      <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault"/>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
