jsaga-engine/resources/schema/jsaga-config.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.in2p3.fr/jsaga"
        xmlns:tns="http://www.in2p3.fr/jsaga"
        xmlns="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified">

    <!-- base types -->
    <simpleType name="SetOperationType"><restriction base="string">
        <enumeration value="union"/>
        <enumeration value="intersection"/>
        <enumeration value="substraction"/>
    </restriction></simpleType>
    <simpleType name="SecurityLevelType"><restriction base="string">
        <enumeration value="none"/>
        <enumeration value="integrity"/>
        <enumeration value="confidentiality"/>
    </restriction></simpleType>
    <complexType name="ObjectType">
        <sequence>
            <element name="attribute" minOccurs="0" maxOccurs="unbounded"><complexType>
                <attribute name="name" type='string' use="required"/>
                <attribute name="value" type="string" use="optional"/><!-- no value means 'unset attribute' -->
            </complexType></element>
        </sequence>
    </complexType>
    <complexType name="PluginType">
        <choice>
            <element name="delegated" minOccurs="0" maxOccurs="1"/>
            <element name="custom" minOccurs="0" maxOccurs="unbounded" ><complexType><complexContent><extension base="tns:ObjectType">
                <attribute name="impl" type='string' use="optional"/>
                <attribute name="mode" type="tns:SetOperationType" use="optional"/>
                <attribute name="weight" type="positiveInteger" use="optional"/>
            </extension></complexContent></complexType></element>
        </choice>
    </complexType>

    <!-- main types -->
    <element name="context"><complexType><complexContent><extension base="tns:ObjectType">
        <sequence>
            <element name="instance" minOccurs="1" maxOccurs="unbounded"><complexType><complexContent><extension base="tns:ObjectType">
                <sequence>
                    <element name="matchJobservice" minOccurs="0" maxOccurs="unbounded"><complexType>
                        <attribute name="path" type="string" use="required"/>
                    </complexType></element>
                    <element name="matchProtocol" minOccurs="0" maxOccurs="unbounded"><complexType>
                        <attribute name="scheme" type="string" use="required"/>
                    </complexType></element>
                    <element name="domain" minOccurs="0" maxOccurs="unbounded"><complexType>
                        <sequence>
                            <element name="host" minOccurs="0" maxOccurs="unbounded"><complexType><!-- no host = all hosts -->
                                <attribute name="name" type="string" use="required"/>
                            </complexType></element>
                        </sequence>
                        <attribute name="name" type="string" use="required"/>
                    </complexType></element>
                </sequence>
                <attribute name="name" type="string" use="optional"/>
            </extension></complexContent></complexType></element>
        </sequence>
        <attribute name="type" type="string" use="required"/>
        <attribute name="deactivated" type="boolean" use="optional"/>
    </extension></complexContent></complexType></element>
    <element name="protocol"><complexType><complexContent><extension base="tns:ObjectType">
        <sequence>
            <element name="alias" minOccurs="0" maxOccurs="unbounded"><complexType>
                <attribute name="scheme" type="string" use="required"/>
            </complexType></element>
            <element name="workerIn" minOccurs="0" maxOccurs="unbounded" type="tns:FileManagementWorkerType"/>
            <element name="workerOut" minOccurs="0" maxOccurs="unbounded" type="tns:FileManagementWorkerType"/>
        </sequence>
        <attribute name="scheme" type='string' use="required"/>
    </extension></complexContent></complexType></element>
    <complexType name="FileManagementWorkerType"><simpleContent><extension base="string"><!-- should be CDATA -->
        <attribute name="source" type="string" use="optional"/>
        <attribute name="target" type="string" use="optional"/>
        <attribute name="recursive" type="boolean" use="optional"/>
        <attribute name="security" type="tns:SecurityLevelType" use="optional"/>
    </extension></simpleContent></complexType>
    <element name="sandbox"><complexType><complexContent><extension base="tns:PluginType">
        <attribute name="defaultIntermediary" type="anyURI" use="optional"/>
    </extension></complexContent></complexType></element>
    <element name="JOBSERVICE"><complexType>
        <sequence>
            <element ref="tns:sandbox" minOccurs="0" maxOccurs="1"/>
            <element ref="tns:protocol" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="type" type="string" use="required"/>
    </complexType></element>

    <!-- root-child types -->
    <element name="security"><complexType>
        <sequence>
            <element ref="tns:context" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType></element>
    <element name="GRID"><complexType>
        <sequence>
            <element ref="tns:GRID" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:JOBSERVICE" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:sandbox" minOccurs="0" maxOccurs="1"/>
            <element ref="tns:protocol" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="string" use="optional"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType></element>

    <!-- root types -->
    <element name="config"><complexType>
        <sequence>
            <element ref="tns:security" minOccurs="1" maxOccurs="1"/>
            <element ref="tns:GRID" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType></element>
</schema>