jsaga-engine/resources/schema/jsaga-config.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.in2p3.fr/jsaga"
        xmlns:tns="http://www.in2p3.fr/jsaga"
        xmlns="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified">

    <!-- base types -->
    <simpleType name="SetOperationType"><restriction base="string">
        <enumeration value="union"/>
        <enumeration value="intersection"/>
        <enumeration value="substraction"/>
    </restriction></simpleType>
    <simpleType name="ProtectionLevelType"><restriction base="string">
        <enumeration value="none"/>
        <enumeration value="integrity"/>
        <enumeration value="confidentiality"/>
    </restriction></simpleType>
    <complexType name="ObjectType">
        <sequence>
            <element name="attribute" minOccurs="0" maxOccurs="unbounded"><complexType>
                <attribute name="name" type='string' use="required"/>
                <attribute name="value" type="string" use="optional"/><!-- no value means 'unset attribute' -->
            </complexType></element>
        </sequence>
    </complexType>

    <!-- main types -->
    <element name="domain"><complexType>
        <sequence>
            <element name="host" minOccurs="0" maxOccurs="unbounded"><complexType><!-- no host = all hosts -->
                <attribute name="prefix" type="string" use="required"/>
            </complexType></element>
        </sequence>
        <attribute name="name" type="string" use="optional"/>
    </complexType></element>
    <element name="fileSystem"><complexType>
        <attribute name="name" type="string" use="required"/>
        <attribute name="mountPoint" type="string" use="required"/>
        <attribute name="type" use="optional"><simpleType><restriction base="string">
            <enumeration value="swap"/>
            <enumeration value="temporary"/>
            <enumeration value="spool"/>
            <enumeration value="normal"/>
        </restriction></simpleType></attribute>
    </complexType></element>
    <element name="job"><complexType><complexContent><extension base="tns:ObjectType">
        <sequence>
            <element name="schemeAlias" minOccurs="0" maxOccurs="unbounded" type="string"/>
            <element name="monitorService" minOccurs="0" maxOccurs="1"><complexType><complexContent><extension base="tns:ObjectType">
                <attribute name="impl" type="string" use="optional"/>
                <attribute name="url" type="anyURI" use="optional"/>
            </extension></complexContent></complexType></element>
            <element name="logging" minOccurs="0" maxOccurs="1"><complexType><simpleContent><extension base="string">
                <attribute name="impl" type="string" use="required"/>
            </extension></simpleContent></complexType></element>
            <element name="monitoring" minOccurs="0" maxOccurs="1"><complexType><simpleContent><extension base="string">
                <attribute name="impl" type="string" use="required"/>
                <attribute name="mixed" type="boolean" use="optional"/>
            </extension></simpleContent></complexType></element>
            <element name="accounting" minOccurs="0" maxOccurs="1"><complexType><simpleContent><extension base="string">
                <attribute name="impl" type="string" use="required"/>
            </extension></simpleContent></complexType></element>
        </sequence>
        <attribute name="type" type="string" use="required"/>
        <attribute name="scheme" type="string" use="optional"/>
        <attribute name="deactivated" type="boolean" use="optional"/>
        <attribute name="wrapperMonitoring" type="boolean" use="optional"/>
        <attribute name="defaultIntermediary" type="anyURI" use="optional"/>
    </extension></complexContent></complexType></element>
    <element name="data"><complexType><complexContent><extension base="tns:ObjectType">
        <sequence>
            <element name="schemeAlias" minOccurs="0" maxOccurs="unbounded" type="string"/>
        </sequence>
        <attribute name="type" type="string" use="required"/>
        <attribute name="scheme" type='string' use="optional"/>
        <attribute name="deactivated" type="boolean" use="optional"/>
        <attribute name="read" type="boolean" use="optional"/><!-- default is same as plugin, unless 'write' is set -->
        <attribute name="write" type="boolean" use="optional"/><!-- default is same as plugin, unless 'read' is set -->
        <attribute name="recursive" type="boolean" use="optional"/><!-- default is false -->
        <attribute name="protection" type="tns:ProtectionLevelType" use="optional"/>
    </extension></complexContent></complexType></element>

    <element name="SITE">
        <complexType>
            <sequence>
                <element ref="tns:domain" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:fileSystem" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:job" minOccurs="0" maxOccurs="unbounded"/><!-- relative to parent GRID -->
                <element ref="tns:data" minOccurs="0" maxOccurs="unbounded"/><!-- relative to parent GRID -->
            </sequence>
            <attribute name="name" type="string" use="required"/>
            <attribute name="wrapperMonitoring" type="boolean" use="optional"/>
            <attribute name="defaultIntermediary" type="anyURI" use="optional"/>
        </complexType>
    </element>

    <element name="GRID"><complexType><complexContent><extension base="tns:ObjectType">
        <sequence>
            <element ref="tns:SITE" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:domain" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:fileSystem" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:job" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:data" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="contextType" type="string" use="required"/>
        <attribute name="name" type="string" use="optional"/>
        <attribute name="deactivated" type="boolean" use="optional"/>
        <attribute name="wrapperMonitoring" type="boolean" use="optional"/>
        <attribute name="defaultIntermediary" type="anyURI" use="optional"/>
    </extension></complexContent></complexType></element>

    <!-- root types -->
    <element name="UNIVERSE">
        <complexType>
            <sequence>
                <element ref="tns:UNIVERSE" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:GRID" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:domain" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:fileSystem" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="tns:data" minOccurs="0" maxOccurs="unbounded"/>
                <!-- tns:job can not be shared by several GRIDs -->
            </sequence>
            <attribute name="name" type="string" use="required"/>
            <attribute name="wrapperMonitoring" type="boolean" use="optional"/>
            <attribute name="defaultIntermediary" type="anyURI" use="optional"/>
            <attribute name="localIntermediary" type="string" use="optional"/><!-- root element only -->
            <anyAttribute namespace="##other" processContents="lax"/>
        </complexType>
        <!-- 1 occurence of UNIVERSE/@name per configuration -->
        <unique name="uniqueUNIVERSEName">
            <selector xpath=".//tns:UNIVERSE"/>
            <field xpath="@name"/>
        </unique>
        <!-- 1 occurence of GRID/@name per configuration -->
        <unique name="uniqueGRIDName">
            <selector xpath=".//tns:GRID"/>
            <field xpath="@name"/>
        </unique>
        <!-- 1 occurence of SITE/@name per configuration -->
        <unique name="uniqueSITEName">
            <selector xpath=".//tns:SITE"/>
            <field xpath="@name"/>
        </unique>
        <!-- 1 occurence of job/@scheme per <GRID>, but N occurences of job/@scheme per config -->
        <unique name="uniqueJobScheme">
            <selector xpath="tns:job"/>
            <field xpath="@scheme"/>
        </unique>
        <!-- 1 occurence of data/@scheme per <GRID>, but N occurences of data/@scheme per config -->
        <unique name="uniqueDataScheme">
            <selector xpath="tns:data"/>
            <field xpath="@scheme"/>
        </unique>
    </element>
</schema>